<% provide(:title, current_user.profile.name) %>

<h1 class="text-center">
  <%= image_tag current_user.gravatar_url, class: 'mb-3' %>
  <br>
  <%= current_user.profile.name %>
  <br>
  <%= link_to "Settings", edit_user_path(current_user) %>
</h1>