// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pb-cmnt-container {
    font-family: Lato;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 50px;
    width: 100%;
    border: 1px solid #dfdfdf00;
}

.p-comment__listTitle {
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 5px;
  }
  
  .p-comment__list {
    width: 750px;
    margin: 38px 0;
    padding: 20px;
  }
  
  .p-comment__item {
    padding: 18px;
    border-bottom: 2px dotted #dfdfdf;
  }
  
  .p-comment__bottomLine {
    font-size: 15px;
    text-align: right;
  
    > span {
      font-size: 14px;
      margin: 0 12px;
    }
  }

  .profile-edit-button{
    border: solid 1px black;
    margin-top: 10px;
    border-radius: 8px;
}

.user-btn{
  color: white;
  background-color: aqua;
  border-color: aqua;
  border-radius: 30px;
}